
body {
  margin: 30px;  /* quitamos margen y padding x defecto del body*/
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

header.header {
  background-color: white;
}

figure.logo {
  display: flex;
  justify-content: center;
  margin: 0; /*quitamos los margenes q trae el figure x defecto*/
}

figure.logo img {
  max-width: 500px;
  justify-content: center;
}

nav.menu {
  background-color: rgb(219, 70, 16);
  padding:10px 20px;
}

nav.menu ul {
  display: flex;
  list-style: none;
  gap: 30 px;
  margin: 0;
  padding-left: 0;
  gap: 20px;
}

nav.menu li+li:before {
  content: ' | ';
  color: white;
}

nav.menu ul a {
  color: white;
  text-decoration: underline;
  font-size: 14px;
  
}

section.hero{
  margin-left: 0px ;
}
.hero img {
  max-width: 100%;
  
}

article.bookingoption {

  border: 3px solid rgb(39, 39, 2);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
  margin-top: 30px;
  background-color: yellow;
}

article.bookingoption h2 {

  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  margin-left: 20px;
  color: rgb(39, 39, 2);
}

article.bookingoption p {
  font-size: 12px;
  margin-left: 10px;
  text-indent: 10px;
}

.bookingoption i {
  font-size: 40px;
  margin-bottom: 10px;
  margin-left: 20px;
  color: rgb(39, 39, 2)
}

.bookingoption.camping {
  border-color: #79A24A;
  background-color: #D3FFAC;
}

.bookingoption.camping i {
  color: #79A24A;
}

.bookingoption.hotel {
  border-color: #0C356F;
  background-color: #B8E3FF;
}

.bookingoption.hotel i {
  color: #0C356F;
}

aside.review {
  border-top: 4px solid rgb(67, 62, 62);
  border-bottom: 4px solid rgb(67, 62, 62);
  background-color: rgb(184, 178, 178);
  margin-top: 30px;
  padding-left: 20px;
}

aside.review h2 {

  font-size: 16px;
  padding: 20px;
  text-transform: uppercase;
  color: rgb(39, 39, 2);
  font-style: italic;
}

.review article p {
  font-size: 12px;
  margin-left: 10px;
  text-indent: 10px;
}

aside.review header {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

aside.review i.fa-user {
  font-size: 30px;
}

aside.review i.fa-star {
  color: white;
}