.contenedor.ej2 {
    border: 7px solid red;
    padding: 5px;
    width: 75%;
    padding-bottom: 50px;
    padding-left: 25px;
    margin-left: 25px;
}

.caja1.ej4{
    margin-bottom: 10px;
    border: 5px dotted green;
    border-bottom: 5px dotted red;
    border-left: 5px dashed blue;
    border-right: 5px dashed orange;
    padding: 20px;
    text-align: center;

}

.caja2.ej4{
  margin-bottom: 10px;
  border: 5px inset black;
  border-left-width: 10px;
  border-right-width: 10px;

  border-bottom-color: pink;
  border-top-color: cyan;
  border-right-color: black;

  text-align: center;
  padding: 20px;
   
}

.caja4.capa {
  text-align: center;
  padding: 10px;
  border: 2px solid black;
}