.caja1.ej1 {
    width: 250px;
    height: 200px;
    border: 5px solid red;
    background-color: grey;
    padding: 10px;
    margin: 25px;
    font-size: 20px;
    line-height: 1.5em;

}

.caja2.ej1{
    width: 300px;
    height: 200px;
    border: 7px solid green;
    background-color: rgb(73, 71, 71);
    color: white;
    padding: 5px;
    margin: 0px;
    font-size: 20px;
    line-height: 1.5em; /*controla la altura de la linea de texto*/ 

}