.contenedor.ej2 {
    border: 7px solid red;
    padding: 5px;
    width: 75%;
    padding-bottom: 50px;
    padding-left: 25px;
    margin-left: 25px;
}

.caja1.ej4{
    border: 5px dotted green;
    border-bottom: 5px dotted red;
    border-left: 5px dotted blue;
    border-right: 5px dotted orange;
    width: 450px ;
    padding: 10px 50px;
    margin-top: 10px;
    margin-left: 10px;
   
}

.caja2.ej4{
    border: 5px solid rgb(10, 198, 245);
    border-bottom: 5px solid pink;
    border-left: 10px solid black;
    border-right: 10px solid black;
    width: 440px;
    padding: 10px 50px;
    margin-top: 10px;
    margin-left: 10px;
   
}

.caja3.ej2{
    border: 5px solid orange;
    width: 50%;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: 100px;
    
   
}