.contenedor.ej2 {
    border: 7px solid red;
    padding: 10 px;
    width: 75%;
    padding-bottom: 50px;
    padding-left: 25px;
    margin-left: 25px;
}

.caja1.ej2{
    border: 5px solid green;
    width: 50%;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: 10px;
   
}

.caja2.ej2{
    border: 5px solid blue;
    width: 50%;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: 50px;
   
}

.caja3.ej2{
    border: 5px solid orange;
    width: 50%;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: 100px;
    
   
}